<!-- <div class="container"> -->

    <div class="row">
        <div class="col-8">

            <div clas="container">
                <div class="row">
                    <div class="col">
                        <sfsx-user-io></sfsx-user-io>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <sfsx-book-trades></sfsx-book-trades>
                    </div>
                </div>
            </div>

            <!-- <sfsx-user-io></sfsx-user-io> -->

        </div>


        <div class="col-4">
            <sfsx-log-table></sfsx-log-table>
        </div>


    </div>

<!-- </div> -->

